<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header style="display: flex; justify-content:space-between">
    <h3>My Comment History for secific Author:</h3>
    <button style="height: 30px;" onclick="location.href= '{% url 'home' %}'">Back</button>
</header>
<body>
    {% for user, blogs in data.items %}
        UserName: {{user.username}} <br> <br>
        {% for blog, comments in blogs.items %}
            Blog_Title: &nbsp; {{blog.name}} <br> 
            Blog: &nbsp; {{blog.content}} <br>
            Comments: <br>
            {% for comment in comments %}   
            &nbsp;&nbsp; &nbsp; {{comment.comment_text}}, &nbsp; &nbsp; Time: &nbsp; {{comment.modified_date}} <br>
            {% endfor %} <br>
        {% endfor %} <br> <hr>
    {% endfor %}
</body>
</html>