<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header style="display: flex; justify-content:space-between">
    <h3>Lists of Blogs which a user authored or commented: </h3>
    <button style="height: 30px;" onclick= "location.href='{% url 'home' %}' ">Back</button>
</header> <hr style="height: 5px; background-color:black">
<body>
    {% for blog in data %}
        Blog_Title: &nbsp; {{blog.name}} <br>
        Blog: &nbsp; {{blog.content}} <br> <br>
    {% endfor %}
</body>
</html>