<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Task</title>
</head>
<header style="display: flex; justify-content:space-between">
  <h3>Blogs of specific user with likes, dislikes, comment count</h3>
  <button style="height: 30px;" onclick=" location.href='{% url 'home' %}'">Back</button>
</header> <hr style="height: 5px; background-color:black">
<body>
  <div>
  {% for user,blogs  in user_data.items %}
    <h3>Author: {{user}}</h3>
    {% for blog, detail in blogs.items %}
        Title: &nbsp; {{blog}} <br>
        Blog: &nbsp; {{ detail.content }} <br> 
        Comments: {{detail.comments}}, &nbsp;
        Likes: {{detail.likes}}, &nbsp;
        Dislikes:  {{detail.dislikes}} <br> <br>
    {% endfor %}
  {% endfor %}
</div>
</body>
</html>