<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header style="display: flex; justify-content:space-between">
    <h3>Blog of specific author which has not modified after creation:</h3>
    <button style="height: 30px;" onclick=" location.href='{% url 'home' %}' ">Back</button>
</header> <hr style="height: 5px; background-color:black">
<body>
    {% for user, blogs in data.items %}
        Author: {{user}} <br>  <br>
        {% for blog in blogs %}
            Titile: &nbsp; {{blog.name}} <br>
            Blog: &nbsp; {{blog.content}} <br>
        {% endfor %} <br> <hr>
    {% endfor %}
</body>
</html>