<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
      body{
          background-color: lightgray;
      }     
    </style>
</head>
<body >
  <h2 style="text-align: center;">Blog Assignment</h2>
  <hr>
  <div style="display: flex; flex-direction:column; align-items:center; height:90%; justify-content:space-around ">
    <h4>For Blog Author User</h4>
<li style="list-style: none;"><a style="text-decoration: none;" href="{% url 'firsttask' %}">Task1: Blogs of specific user with likes, dislikes, comment count</a></li>
<li style="list-style: none;"><a style="text-decoration: none;" href="{% url 'secondtask' %}">Task2: Top 5 Commented blogs of a author</a></li>
<li style="list-style: none;"><a style="text-decoration: none;" href="{% url 'thirdtask' %}">Task3: Top 5 Liked and Disliked blogs of a author</a></li>
<li style="list-style: none;"><a style="text-decoration: none;" href="{% url 'forthtask' %}">Task4: Blog of specific user which is not modified after creation</a></li>
<li style="list-style: none;"><a style="text-decoration: none;" href="{% url 'fifthtask' %}">Task5: List of Blogs which a user authored or commented</a></li>
<h4>For Blog Reader User</h4>
<li style="list-style: none;"><a style="text-decoration: none;" href="{% url 'sixthtask' %}">Task6: My recent five liked blogs</a></li>
<li style="list-style: none;"><a style="text-decoration: none;" href="{% url 'seventhtask' %}">Task7:My commented Histroy for specific blog  </a></li>
<li style="list-style: none;"><a style="text-decoration: none;" href="{% url 'eighthtask' %}">Task8: My commented history for a particular author</a></li>
</div>
</body>
</html>