<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Task</title>
</head>
<header style="display: flex; justify-content:space-between">
    <h3>Top 5 Commented Blogs:</h3> 
    <button style="height: 30px;" onclick=" location.href='{% url 'home' %}' ">Back</button>
</header> <hr style="height: 5px; background-color:black">
<body>
    {% for blog in top_5_blogs %}
        Blog_Title: &nbsp; {{blog.name}} <br>
        Blog: &nbsp;{{blog.content}} <br>
        Comments: &nbsp; {{blog.counter}}<br> <br>
    {% endfor %}

</body>

</html>