<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7th Task</title>
</head>
<header style="display: flex; justify-content:space-between">
  <h3>My Comment History for secific Blog:</h3>
  <button style="height: 30px;" onclick=" location.href='{% url 'home' %}' ">Back</button>
</header> <hr style="height: 5px; background-color:black">
<body>
  {% for blog, comments in data.items %}
    Blog_title:&nbsp; {{blog}} <br>
    Blog_content:&nbsp; {{blog.content}} <br>
    Comments: <br>
    {% for comment in comments %}
      &nbsp; &nbsp; &nbsp; {{comment.comment_text}}, &nbsp; &nbsp; &nbsp; Time: {{comment.modified_date}} <br>
    {% endfor %} <br> <hr>
  {% endfor %}
</html>