<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header style="display: flex; justify-content:space-between">
    <h3>My Comment History for secific Author:</h3>
    <button style="height: 30px;" onclick=" location.href='{% url 'home' %}' ">Back</button>
</header> <hr style="height: 5px; background-color:black">
<body>
    <div style="display: flex; justify-content:space-around">
    <div> 
    <h3>Top 5 liked blogs in last 3 days:</h3> 
        {% for blog, likes in likes_5.items %}
            Blog_Title: &nbsp; {{blog.name}} <br>
            Blog_Content: &nbsp; {{blog.content}} <br>
            Likes: {{likes}} <br> <br> <br>
        {% endfor %}
    </div>
    <div>
    <h3>Top 5 disliked blogs in last 3 days:</h3> 
    {% for blog, dislikes in dislikes_5.items %}
        Title: {{blog.name}} <br>
        Contents: {{blog.content}} <br>
        Dislikes: {{dislikes}} <br> <br> <br>
    {% endfor %}
</div>
</div>
    <!-- {{data}} -->
</body>
</html>